{{ $fbUrl := .Params.facebook_post | default .Permalink }}
<div class="mt-8 w-full min-h-[350px] bg-white rounded-lg p-2 shadow-sm">
  <iframe
    src="https://www.facebook.com/plugins/comments.php?href={{ $fbUrl | urlquery }}&width=100%25&numposts=5"
    width="100%"
    height="450"
    style="border:none;overflow:hidden;width:100%;min-height:350px;"
    scrolling="no"
    frameborder="0"
    allowfullscreen="true"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
  </iframe>
</div>
